@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
}

.left h1 {
  text-align: center;
  font-weight: 700 !important;
  font-size: 35px !important;
}

.left p {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  font-size: 18px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 35px;
}

.right {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.tengah {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
}

.learn-btn {
  border: none;
  background-color: #141414;
  color: #fafafa;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
}

.pictures {
  height: 300px;
  width: 100%;
  background-image: url("/images/image-hero-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.loginbtn {
  border: none;
  background-color: transparent;
}

.registerbtn {
  background-color: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 10px;
  border: 1px solid dimgray !important;
}

.sidenav-mobile {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #fafafa;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #141414;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
.logo {
  display: none;
}

.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #141414;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-container {
  display: none;
  padding-left: 15px;
}

@media screen and (min-width: 1440px) {
  .sidenav-mobile {
    display: none;
  }
  .sidenav {
    width: 250px;
  }
  .grid {
    -ms-grid-columns: 55% 45%;
        grid-template-columns: 55% 45%;
    padding: 30px 60px 60px 60px;
  }
  .left {
    padding-top: 100px;
    padding-left: 70px;
    padding-right: 50px;
  }
  .left h1 {
    text-align: left;
    font-size: 85px !important;
    color: #141414;
  }
  .left p {
    text-align: left;
    padding: 0;
    color: dimgray;
    font-size: 18px;
    padding-right: 50px;
    padding-top: 30px;
  }
  .left .tengah {
    margin-top: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-left: 0;
  }
  .left .companies {
    margin-top: 75px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
  }
  .right {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 70px;
  }
  .pictures {
    height: 600px;
    width: 100%;
    background-image: url("/images/image-hero-desktop.png");
    background-repeat: no-repeat;
  }
}
/*# sourceMappingURL=main.css.map */