@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
$Almost-White: hsl(0, 0%, 98%);
$Medium-Gray: hsl(0, 0%, 41%);
$Almost-Black: hsl(0, 0%, 8%);

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

.left{
    h1{
        text-align: center;
        font-weight: 700 !important;
        font-size: 35px !important;
    }
    
    p{
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 500;
        font-size: 18px;
    }
}


.grid{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 35px;
}

.right{
    grid-row-start: 1;
    grid-row-end: 2;
}

.tengah{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.learn-btn{
    border: none;
    background-color: $Almost-Black;
    color: $Almost-White;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}

.pictures{
    height: 300px;
    width: 100%;
    background-image: url("/images/image-hero-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.loginbtn{
    border: none;
    background-color: transparent;
}

.registerbtn{
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 10px;
    border: 1px solid $Medium-Gray !important;
}

.sidenav-mobile{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

// Sidenav
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: $Almost-White; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

  /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

  /* When you mouse over the navigation links, change their color */
// .sidenav a:hover {
//     color: #f1f1f1;
// }

  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: $Almost-Black;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-container {
    display: none;
    padding-left: 15px;
}
// Sidenav

@media screen and (min-width: 1440px) {
    nav{
        height: 70px;
        .menu{
            margin-left: 25px;
        }
        .button{
            text-align: right;
            padding-left: 650px;
        }
        li{
            color: $Medium-Gray !important;
        }
        li:hover{
            color: $Almost-Black !important;
        }
    }
    .grid{
        grid-template-columns: 55% 45%;
        padding: 30px 60px 60px 60px;
    }
    .left{
        padding-top: 100px;
        padding-left: 70px;
        padding-right: 50px;
        h1{
            text-align: left;
            font-size: 85px !important;
            color: $Almost-Black;
        }
        p{
            text-align: left;
            padding: 0;
            color: $Medium-Gray;
            font-size: 18px;
            padding-right: 50px;
            padding-top: 30px;
        }
        .tengah{
            margin-top: 50px;
            justify-content: start;
            margin-left: 0;
        }
        .companies{
            margin-top: 75px;
            justify-content: space-between;
            display: flex;
            justify-content: space-between;
        }
    }
    .right{
        grid-column-start: 2;
        grid-column-end: 3;
        padding-left: 70px;
    }
    .pictures{
        height: 600px;
        width: 100%;
        background-image: url("/images/image-hero-desktop.png");
        background-repeat: no-repeat;
    }
}